* {
  box-sizing: border-box;
}

.link {
  font-family: inherit;
}


body {
  margin: 0;
  padding: 0;
  /* background-color: #fff2e9; */
  background-color: #0b0b0b;
}



.MuiChartsAxis-tickLabel,
.MuiChartsLegend-label {
  fill: white !important;
  font-weight: 700 !important;
}

body {
  padding-bottom: 10vh;
}

/* .MuiTableHead-root {
  border-bottom: 10px solid green !important;
  border-color: green !important;
} */
.MuiTableRow-root {
  border-bottom: 3px solid #24272a !important;

}